<?xml version='1.0' encoding='utf-8'?>
<plugin id="WifiConnectPlugin" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WifiConnectPlugin</name>
	<js-module name="WifiConnectPlugin" src="www/WifiConnectPlugin.js">
		<clobbers target="cordova.plugins.WifiConnectPlugin" />
	</js-module>
	<platform name="ios">
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
		<hook type="after_plugin_add" src="hooks/add_swift_support.js" />
		<config-file parent="/*" target="config.xml">
			<feature name="WifiConnectPlugin">
				<param name="ios-package" value="WifiConnectPlugin" />
			</feature>
		</config-file>
		<!-- Add Hotspot Configuration Capability -->
        <config-file target="Entitlements-Release.plist" parent="com.apple.developer.networking.HotspotConfiguration">
            <true/>
        </config-file>
        <config-file target="Entitlements-Debug.plist" parent="com.apple.developer.networking.HotspotConfiguration">
            <true/>
        </config-file>
		<source-file src="src/ios/WifiConnectPlugin.swift" />
	</platform>
</plugin>